.skeleton-blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
   
  }
 
  
  .skeleton-title {
    width:100%;
    height: 20px;
    background: #1b1b1b;
    border-radius: 5px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .skeleton-meta {
    width: 40%;
    height: 15px;
    background: #1b1b1b;
    border-radius: 5px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
 
  .skeleton-image {
    width: 100%; /* Make it responsive */
  max-width: 1200px; /* Prevent it from getting too large */
  height: 600px; /* Maintain aspect ratio */

  border-radius: 10px; /* Optional: Adds rounded corners */
  margin-bottom: 30px;
    background: #d0d0d0;
    border-radius: 10px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .skeleton-text {
    width: 100%;
    height: 15px;
    background: #1b1b1b;
    border-radius: 5px;
    animation: pulse 1.5s infinite ease-in-out;
  }





  




  
  @keyframes pulse {
    0% {
      background-color: #1b1b1b;
    }
    50% {
      background-color: #373737;
    }
    100% {
      background-color: #1b1b1b;
    }
  }
  