.careerpage {
  width: var(--mid-space);
  margin-left: var(--left-space);
  margin-right: var(--right-space);
  padding-top: 50px;
}
.careerpage .htext {
  text-align: center;
  color: var(--headings-color);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
}
.careerpage .ptext {
  text-align: center;
  color: var(--text-color);

  margin-bottom: 20px;
  font-size: var(--default-p-size);
}
.bgSection {
  border-radius: var(--default-border-radius);
  background-image: url("/contactbg.svg");
  background-size: cover;
  background-position: center;
  box-shadow: var(--default-box-shadow);
  border: var(--default-border);
}
.bgSection1 {

  height: 250px;
  width: 100%;
  border-radius: var(--default-border-radius);
  background-color: rgba(0, 0, 0, 0.623);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
    .bgSection {
        height: 150px;
        margin-top: 70px;
      }
      .bgSection1 {
        height: 150px;
   
      }
      .careerpage{
        padding-top: 0%;
      }
      .careerpage .htext{  line-height: 1;
     
        font-size: 32px;
        margin-bottom: 0%;
      
        
      }
}
