.Servicearea{
    width: var(--mid-space);
    margin-left: var(--left-space);
    margin-right: var(--right-space);
    
}
.Servicearea .htext{
  text-align: center;
  color: var(--headings-color);
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 48px;

  
}
.Servicearea .ptext{
text-align: center;
color: var(--text-color);

margin-bottom: 50px;
font-size: var(--default-p-size)


}
.bgSection {
  border-radius: var(--default-border-radius);
  background-image: url("/contactbg.svg");
  background-size: cover;
  background-position: center;
  box-shadow: var(--default-box-shadow);
  border: var(--default-border);
}
.bgSection1 {

  height: 250px;
  width: 100%;
  border-radius: var(--default-border-radius);
  background-color: rgba(0, 0, 0, 0.623);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactcard{
  background-color: var(--gradient-one);
  height: 160px;
  width: 30%;
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.contactcard p{
  color: var(--text-color);
  font-size: 24px;
}
.contactcard .btn
{
  line-height: 1;
  font-size: var(--default-p-size);
  font-weight: 500;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  border: none;
  border: 2px solid var(--background-color);
  transition: all 0.3s ease;
  padding: 10px 18px;
  background-color: var(--background-color);
}  
.contactcard .btn:hover{
  background-color: transparent;
  color: var(--background-color);
  border: 2px solid var(--background-color);
}
  @media (max-width: 900px) {
    .bgSection {
      height: 150px;
      margin-top: 70px;
    }
    .bgSection1 {
      height: 150px;

 
    }
    .contactcard{
     
      width: 100%;
    
    }
    .Servicearea .htext{
     
      font-size: 32px;
    
    }
  }
  