:root {
--primary-color:#000000;
--primary-color2:#123458b3;
--secondary-color:#D4C9BE;
--background-color:#00d0e7;
--headings-color: var(--background-color);
--shadow-low1:#00d0e74a;
--shadow-low2:#006bcf00;
--shadow-low3:#91f3fe;
--default-box-shadow:0 0 8px var(--background-color);
--left-space:5%;
--mid-space:90%;
--right-space:5%;
--default-border:1px solid var(--headings-color);
--text-color:white;
--font-family-base: var(--font-montserrat);
--default-p-size:16px;
--default-p-size2:14px;
--default-border-radius:6px;
--gradient-one: linear-gradient(to bottom right, #e7e7e725, #000000);
/* --gradient-one: #0e0e0e; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;

}
textarea{
  font-family: 'Montserrat', sans-serif;
}
.content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  

  
}
.breadcrumb {
  padding: 10px 0;
  font-size: 40px;
  font-weight: 700;
  position: relative;

}

.breadcrumb ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  color: var(--background-color);
}

.breadcrumb li::after {
  content: "|";
  margin-left: 8px;
  color: var(--background-color);
}

.breadcrumb li:last-child::after {
  content: "";
  margin: 0;
}

.breadcrumb a {
  color: var(--headings-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color:var(--shadow-low3);/* your theme primary color */
  text-decoration: underline;
}

.bg-wrapper {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  overflow: hidden;
 
  position: fixed;
  display: flex;
  justify-content: center;
}

ul{
list-style: none;
}
/* Circle container to align them horizontally */
.circle-container {
  display: flex;
  width: 100%;
  justify-content: center;
 
  
}
h1{
  color: var(--headings-color);
}
.page-body{
  width: var(--mid-space);
  margin-left: var(--left-space);
  margin-right: var(--right-space);
}
/* Pink radial circle style */
.circle {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: radial-gradient(circle, var(--shadow-low1) 0%, var(--shadow-low2) 70%);
 
  
 

}
.circle:first-child {
  margin-right: -25%;
 


}

@media (max-width: 1280px) {
  .circle:first-child {
   display: none;

   
  
  
  }
  .circle:last-child {
   width: 700px;
   height: 700px;
   margin-top: 15vh;
   
   }
}

@media (max-width: 900px) {
  :root {
  --default-p-size:14px;
  --default-p-size2:12px;
  }
  .breadcrumb {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 700;
    position: relative;
  
  }

}