.Page {
  display: flex;
  flex-direction: column;
  width: var(--mid-space);
  margin-left: var(--left-space);
  margin-right: var(--right-space);
  text-align: center;
    padding-top: 50px;
}

@media (max-width: 900px) {
  .Page {

    padding-top: 50px;
}
  
}
