.author-share-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient-one);
  padding: 15px 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: var(--default-box-shadow);
}

/* Author Info */
.author-info {
  display: flex;
  align-items: center;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-details h3 {
  font-size: 16px;
  margin: 0;
}

.author-details p {
  font-size: 12px;
  color: #666;
  margin: 0;
}

/* Share Buttons */
.share-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.share-text {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}

.linkedin {
  background: #0077b5;
  color: white;
  width: 100px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.facebook {
  background: #1877f2;
  color: white;
  width: 100px;
  border-style: none;
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.twitter {
  background: black;
  color: white;
  width: 100px;
  border-style: none;
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.copy-link {
  background: #f0f0f0;
  color: black;
font-size: 10px;
  width: 200px;
border-style: none;
border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .author-share-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .share-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    font-size: 12px;
    padding: 6px 10px;
  }
}
