.blog-wrapper {
  width: var(--mid-space);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
}


.blog-title{
    text-align: center;
    color: var(--background-color);
}
.category-text {
  margin-bottom: 10px;
  display: flex;
gap: 5px;
}

.category-text span:first-child {
  border-right: 3px solid #ffffff;
  padding-right: 5px;
}

.description {
  width: var(--default-width);
  text-align: justify;
  margin: auto;
}
.description a{
  color: var(--background-color);
}
.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6{
    color: var(--background-color);
}
.description ul{
    list-style: disc;
    margin-left: 20px;
}

.description img {
    display: flex;
    justify-self: center ;
 width: 720px;
  height: 420px;
  border-radius: 6px;
}

.error {
  color: red;
  font-weight: bold;
}
.Top-Blog-section{
    display: flex;

}
.blog-image {
  width: 70%;
  max-width: 920px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}
.sub-block{
    width: 30%;
}

@media (max-width: 900px) {
  .blog-image {
    width: 100%;
    height: auto;
  }

  .description img {
    width: 300px;
    height: 250px;
  }
  .sub-block{
display: none;
}
.blog-title{
   font-size: 24px;
}
.blog-wrapper {
  width: 100%;

}
}
