.apply-form-container {
    display: flex;
    width: 100%;
    color: var(--headings-color);
    padding-bottom: 50px;
    height: fit-content;
  }

  .apply-form-left {
    width: 60%;
    height: fit-content;
    flex: 1;
    padding: 50px;
    padding-top: 0%;
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
  .apply-form-left .heading {
  font-size: 31px;
  }
  .apply-form-left .description {
    font-size: 12px;
    color: var(--text-color);
    border-bottom: 2px solid var(--background-color);
    padding-bottom: 14px;
    margin-bottom: 24px;
    text-align: left;
  }
  .apply-form-left .subtitle {
    font-size: 20px;
    color: var(--text-color);
    margin: 20px 0;
  }
  .apply-form-left .form-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .apply-form-left .field-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .apply-form-left .field-group label {
    font-size: var(--default-p-size);
    margin-bottom: 6px;
    color: #fff;
  }
  .apply-form-left .form-fields input {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;

  }
  .apply-form-left .form-fields input:focus{
  


    border-bottom: 1px solid var(--background-color);
 
  }
  .apply-form-left .field-group:focus-within label {
    color: var(--background-color);
  }
  .apply-form-left .name-row {
    display: flex;
    gap: 12px;
  }
  .apply-form-left .name-row .field-group {
    flex: 1;
  }
  .apply-form-left .upload-label {
    font-size: var(--default-p-size);
    margin-bottom: 8px;
    display: block;
  }
  .apply-form-left .upload-box {
    border: 2px dashed white;
    padding: 40px;
    border-radius: 6px;
    text-align: center;
    color: var(--background-color);
    cursor: pointer;
    margin-top: 20px;
    transition: border-color 0.3s ease;
  }
  .apply-form-left .upload-box:hover {
    border-color: var(--background-color);
  }
  .apply-form-left .upload-box p {
    margin: 0;
    font-size: var(--default-p-size);
  }
  .apply-form-left .upload-box span {
    font-size: 12px;
    color: #888;
  }
  .apply-form-left .submit-btn {
    background-color: var(--background-color);
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
  }
  .apply-form-left .submit-btn:hover {
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--background-color);
  }
  .apply-form-right {
    width: 40%;
    height: 700px;
    flex: 1;
    background: linear-gradient(to bottom right, #187f8fc8, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0;
    position: relative;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);

  }
  .apply-form-right .center-image {
    width: auto;
    height: 100%;
    object-fit: contain;
    z-index: 10;
    bottom: 0;
  }
  .apply-form-right .top-logo {
    width: 300px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .apply-form-right .bottom-logo {
    width: 220px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-bottom-right-radius: var(--default-border-radius);
  }
  .selected-file-name{
    font-size: var(--default-p-size);
    color: white;
    margin-top: 5px;
  }
  .field-group .error-msg{
    color: red;
    font-size: 10px;
  }
  @media (max-width: 900px) {
    .apply-form-container {
      flex-direction: column-reverse;
      width: 100%;
      padding: 0px;
    }
    .apply-form-left {
      width: 100%;
      padding: 30px;
    }
    .apply-form-right {
      width: 100%;
      height: 300px;
    }
    .apply-form-right .center-image {
      width: auto;
      height: 280px;
      object-fit: contain;
      z-index: 10;
      bottom: 0;
    }
    .apply-form-right .top-logo {
      width: 80px;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .apply-form-right .bottom-logo {
      width: 60px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .apply-form-left .form-fields input,
    .apply-form-left .submit-btn {
      font-size: var(--default-p-size);
    }
    .apply-form-left .name-row {
      flex-direction: column;
      gap: 0;
    }
    .apply-form-left .upload-box {
      padding: 10px;
    }
  }