.marquee-container{
   
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
 
}
.marquee-container .left{
width: 50%;
text-align: left;
}
.marquee-container .right{
width: 50%;
}
.marquee-image{
    height: 120px;
}
@media (max-width: 900px) {
    .marquee-container{
   flex-direction: column;
   margin-top: 0px;
     
    }
    .marquee-container .left{
    width: 100%;
    text-align: left;
    }
    .marquee-container .right{
    width: 100%;
    }

    .marquee-image{
        height: 80px;
        margin-top: 20px;
    }


}