.contact-container {
    display: flex;
    width: 100%;
   text-align: left;
    background:var(--gradient-one);
    border-radius: 10px;
    padding: 30px;
    color: var(--text-color);
    box-shadow: var(--default-box-shadow);
  }
  .contact-info2 {
    width: 40%;
     height: 90vh auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 60px 30px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
  }
  .contact-info2 h2 {
    margin-bottom: 15px;
    color: var(--headings-color);

  }
  .contact-form p{
    text-align: left;
    font-size: var(--default-p-size);
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
  }
  .info-item {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .info-item span {
    color: var(--headings-color);
    font-size: 18px;
  }
  .info-item a {
    color: var(--headings-color);
    font-size: var(--default-p-size);
    text-decoration: none;
  }
  .contact-info2 .social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
 
  .contact-info2 .social-icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .contact-info2 .social-icons span:hover{
    color: var(--shadow-low3);
    background-color: transparent;
    border: 2px solid var(--shadow-low3);
    cursor: pointer;
  }
  .contact-info2 .circle-one {
    position: absolute;
    left: 70%;
    bottom: -10%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.066);
    border-radius: 50%;
  }
  .contact-info2 .circle-two {
    position: absolute;
    left: 60%;
    bottom: 12%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.066);
    border-radius: 50%;
  }
  .contact-form {
    width: 60%;
    height: 90vh auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 0%;
  }
  .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
    width: 100%;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
  }
  .form-group label {
    font-size: var(--default-p-size);
    color: gray;
  }
  .form-group input {
    padding: 10px;
    background:transparent;
    color: var(--text-color);
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
  }
  .form-group input:focus {
   
    border-bottom: 1px solid var(--background-color);
  }
  .form-group:focus-within label {
    color: var(--background-color);
  }
  .radio-group {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: var(--default-p-size);
    text-align: left;
    color: var(--headings-color);
  }
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    color: var(--headings-color);
    cursor: pointer;
  }
  .radio-group input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid gray;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
  
  .radio-group input[type="radio"]:checked {
    color: var(--headings-color);
  }
  .contact-form .error-msg,
  .form-group .error-msg{
    color: red;
    font-size: 10px;
  }
  .radio-group input[type="radio"]::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--shadow-low3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
  }
  
  .radio-group input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
  }



  
  .textarea-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 10px;
    
   
  }
  .text-area-label {
    font-size: var(--default-p-size);
    color: gray;
    margin-top: 15px;
  }
  textarea {
    background: rgba(20, 20, 20, 0.567);
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    /* Limit the maximum height */
    resize: none;  /* Allow resizing only vertically */
    scrollbar-width: none;
    color: var(--text-color);
    margin-bottom: 20px;
    height: 120px;
    padding-top: 10px;
  }
  textarea:focus{
   
      border-bottom: 1px solid var(--background-color);
  
  }
  .form-group:focus-within .text-area-label {
    color: var(--background-color);
  }
  
  .send-btn {
    align-self: flex-end;
    line-height: 1.5;
    font-size: var(--default-p-size);
    font-weight: 500;
    border-radius: var(--default-border-radius);
    cursor: pointer;
    border: none;
    border: 2px solid var(--background-color);
    transition: all 0.3s ease;
    padding: 10px 18px;
    background-color: var(--background-color);
  }
  .send-btn:hover{
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--background-color);
  }
  /* ///////////////////////// */
  @media (max-width:  900px) {
    .contact-container {
      flex-direction: column;
    }
    .contact-info2,
    .contact-form {
      width: 100%;
      margin-right: 0;
      height: fit-content;
    }
    .contact-form {
      padding: 20px 0;
    }
    .contact-info2 {
      gap: 20px;
    }
    .form-row {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 15px;
    }
    .radio-group {
      flex-direction: column;
      gap: 0px;
      margin: 0px;
      margin-top: 0px;
      padding: 0%;
    }
   
    .form-group {
      width: 100%;
    }
    .form-group input {
      width: 100%;
    }
    .send-btn {
      align-self: stretch;
    }
  }
  