.featured {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 450px;
}
.featured .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.featured .right {
  display: flex;
  width: 50%;

  align-items: center;
  justify-content: right;
}

.featured h1 {
  font-size: 38px;
  color: var(--headings-color);

  text-align: left;
}
.featured .left {
  font-size: var(--default-p-size);
  color: var(--text-color);
  line-height: 1.5;
  text-align: left;
}
 .featured .left p {
  font-size: var(--default-p-size);
  
  line-height: 1.5;
}
.btn-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filled-btn,
.outline-btn {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px 10px;
}

.filled-btn {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: none;
}

.filled-btn:hover {
  opacity: 0.85;
}
.outline-btn {
  background-color: transparent;
  color: var(--background-color);
  border: 2px solid var(--background-color);
}

.outline-btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
@media (max-width: 900px) {

  .featured {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .featured .left {
    width: 100%;
    gap: 15px;
    height: fit-content;
  }
  .featured .right {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .featured h1 {
    width: 100%;
    font-size: 34px;
    margin-top: 35px;
  }
  .btn-section {
    align-items: center;
    justify-content: center;
  }
  .filled-btn,
  .outline-btn {
    padding: 10px 30px;
  }
}
