/* industriess.css */

.industries-section {

  margin-bottom: 20px;
}

.industries-section {
  width: 100%;
  margin: 0 auto;
}
.Head-area{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.Head-area .viewall-text{
  color: var(--headings-color);
  display: flex;
  align-items: center;
  gap: 5px;
  height: 80px;

} 
.Head-area .viewall-text:hover{
  color: var(--shadow-low3);
  cursor: pointer;
} 
.heading-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  
}
.heading-area .left {
  width: 50%;
}
.upper-section {
  display: flex;

padding: 0%;
  align-items: flex-end;
  width: 100%;
}
.heading-area .left p {
  text-align: left;
  font-size: var(--default-p-size );
  color: var(--text-color);
}
.heading-area .viewall-text {
  text-align: left;
  color: var(--headings-color);
  font-size: var(--default-p-size );
    display: flex;
  align-items: center;
  gap: 5px;
  height: 80px;

}
.heading-area .viewall-text:hover {
  color: var(--shadow-low3);
  cursor: pointer;

}

.upper-section h1 {
  width: 84%;
  text-align: left;
  margin: 0%;
  color: var(--headings-color);

}
.upper-section img {
  width: 15%;
  margin-bottom: 20px;
}
.headings {
  display: flex;
  align-items: center;
  height: 80px;
}
.headings img {
  height: 10px;
  margin-left: 5px;
}
.headings h1 {
  line-height: 1.5;
  margin: 0%;
}
.industries-area-section {
  display: flex;
  justify-content: center;
}

.industries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  width: 100%;
}

.industries-item {
      background:var(--gradient-one);
    padding: 30px;
    border-radius:var(--default-border-radius);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    box-shadow: var(--default-box-shadow);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.industries-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.industries-item img {
  width: 75px;
  height: 75px;
  color: var(--headings-color);
  
}

.industries-item  h2 {
  font-size: 1.25rem;
  color: var(--headings-color);
  margin-bottom: 0.5rem;
}

.industries-item  p {
  color: var(--text-color);
  font-size: var(--default-p-size);
}
.filled-btn,
.outline-btn {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 15px;
  width: fit-content;
}

.filled-btn {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: none;
}

.filled-btn:hover {
  opacity: 0.85;
}
.outline-btn {
  background-color: transparent;
  color: var(--background-color);
  border: 2px solid var(--background-color);
}

.outline-btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

@media (max-width: 900px) {
  
    .heading-area {
        align-items: center;
        flex-direction: column;
        
      }
     
      .heading-area .left {
        width: 100%;
        margin-bottom: 20px;
      }
      .upper-section {
        display: flex;
      
        align-items: flex-end;
        width: 100%;
      }
      .heading-area .left p {
        text-align: left;
        font-size: var(--default-p-size);
      }
      
      .upper-section h1 {
        width: 100%;
        text-align: left;
      }
      .upper-section img {
       display: none;
      }
      
      .industries-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        width: 100%;
      }
      .headings h1 {
        text-align: left;
        width: 100%;
      }
      .headings p {
        text-align: left;
      }
      .headings img {
        display: none;
      }
      .heading-area .viewall-text{
        height: fit-content;
      margin: 0%;
      } 
     
    }