.mission-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    margin-bottom: 50px;
  }
.mission-flip-card{
 
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
  }
  .mission-flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
  }
  .mission-flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .mission-flip-card .flip-card-front,
  .mission-flip-card .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  /* Front Side */
  .mission-flip-card .flip-card-front {
    background: var(--gradient-one);
    box-shadow: var(--default-box-shadow);
    color: white;
  }
  /* Back Side */
  .mission-flip-card .flip-card-back {
    background-color: var(--background-color);
    color: black;
    transform: rotateY(180deg);
    box-shadow: var(--default-box-shadow);
  }
  /* Icon styling */
  .mission-flip-card .card-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  /* Title */
  .mission-flip-card .card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--background-color);
  }
  /* Paragraph text */
  .mission-flip-card .card-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  .description-heading{
    color: var(--text-color);
    font-size: var(--default-p-size);
  }