.partners-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 2rem;
 margin-bottom: 30px;
  }
.partners-card {
  background: var(--gradient-one);
    border-radius: var(--default-border-radius);
    border: 1px solid var(--background-color);
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
  }
  .partners-card .card-header {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--background-color);
  }
  .partners-card .logo-image {
 height: 100px;
 
  }
  .partners-card .card-body {
    padding: 30px;
    text-align: center;
  }
  .partners-card .card-body p {
    font-size: var(--default-p-size);
    margin-bottom: 15px;
    color: var(--text-color)
  }
  .partners-card .learn-more-btn {
    align-self: flex-end;
    line-height: 1.5;
    font-size: var(--default-p-size);
    font-weight: 500;
    border-radius: var(--default-border-radius);
    cursor: pointer;
    border: none;
 
    transition: all 0.3s ease;
    padding: 10px 18px;
   
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--background-color);
  }
  .partners-card .learn-more-btn:hover {
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    color: black;
  }
    @media (max-width: 900px) {
.partners-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
 
  }
  .partners-card .logo-image {
 height: 60px;
 
  }

    }