.partners-container {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
  }
  .partners-container .left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .left-container .image-container {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .left-container .left-image {
    width: 49%;
    height: 245px;
    border-radius: 10px;
    object-fit: cover;
  }
  .left-container .card-text {
    height: 245px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    color: black;
  }
  .left-container .card-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .left-container .card-text p {
    font-size: var(--text-size);
    margin-bottom: 10px;
  }
  .left-container .card-text .btn {
    padding: 8px 16px;
    border-radius: 6px;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 2px solid black;
    transition: background 0.3s;
  }
  .left-container .card-text .btn:hover {
    background-color: white;
    color: black;
  }
  .partners-container .right-container {
    width: 50%;
  }
  .partners-container .right-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  @media (max-width: 900px) {
    .partners-container {
      flex-direction: column-reverse;
      width: 100%;
      gap: 10px;
    }
    .partners-container .left-container,
    .partners-container .right-container {
      width: 100%;
    }
    .left-container .image-container {
      display: none;
    }
    .partners-container .right-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }