.followus-section {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.followus-section .socials-share {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.followus-section .socials-share svg {
  color: #00D0FF;
  cursor: pointer;
}
.followus-section .socials-share svg:hover {
  color: #7FDCF1;
  cursor: pointer;
}

.followus-section  input[type="email"] {
  outline: none;
  border: 1px solid #00D0FF;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  padding: 10px;
  height: 50px;
}
.followus-section  input::placeholder {
  color: white;
  font-size: 12px;
}
.followus-section  .btn {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  outline: none;
  color: black;
  background-color: #00D0FF;
  border: 1px solid #00D0FF;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
  font-size: 18px;
}
.followus-section  .btn:hover {
  background-color: #06B2D8;
}
.followus-section .checkbox-container {
  display: flex;
  gap: 10px;
 
  align-items: flex-start;
  justify-content: left;
}
.followus-section  .checkbox-container p {
  font-size: var(--default-p-size);
   margin: 0%;
   line-height: 1;
   padding: 0%;
}
.followus-section .checkbox-container input[type="checkbox"] {
  accent-color: #00D0FF;
  cursor: pointer;
}.followus-section {
  width: 100%;
  display: flex;
  padding: 0 8%;
  gap: 10px;
}



