.followus-section {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.followus-section .socials-share {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.followus-section .socials-share svg {
  color: #00D0FF;
  cursor: pointer;
}
.followus-section .socials-share svg:hover {
  color: #7FDCF1;
  cursor: pointer;
}

.followus-section  input[type="email"] {
  outline: none;
  border: 1px solid #00D0FF;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  padding: 10px;
  height: 50px;
}
.followus-section  input::placeholder {

  font-size: 12px;
}
.followus-section  .btn {
   background-color: var(--background-color);
color: black;
text-align: center;
  padding: 12px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-size: var(--default-p-size);
  border: 1px solid var(--background-color);
}
.followus-section  .btn:hover {
  background-color: transparent;
  color: var(--background-color);
}
.followus-section .checkbox-container {
  display: flex;
  gap: 10px;
 
  align-items: flex-start;
  justify-content: left;
}
.followus-section  .checkbox-container p {
  font-size: var(--default-p-size);
   margin: 0%;
   padding: 0%;
}
.followus-section .checkbox-container input[type="checkbox"] {
  accent-color: #00D0FF;
  cursor: pointer;
  margin-top: 5px;
}.followus-section {
  width: 100%;
  display: flex;
  padding: 0 8%;
  gap: 10px;
}



