.testimonial-container {
    width: 100%;
    display: flex;
    background: var(--gradient-one);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
  }
  .testimonial-container .left-container {
    width: 60%;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
 justify-content: center;
  }
  .stars {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }
  .quote-icon {
    font-size: 60px;
    color: var(--shadow-low1);
   margin-top: -40px;
   margin-right: 20%;
    display: flex;
    justify-content: end;
  }
  .star {
    font-size:30px;
  }
  .testimonial-container .left-container .review {
    margin: 10px 0;
    font-size: var(--default-p-size);
    color: var(--text-color);
    width: 70%;
  }
  .testimonial-container .left-container .name {
    color: var(--background-color);
    font-size: 18px;
    margin-top: 5px;
  }
  .testimonial-container .left-container .designation {
color: var(--text-color);
    font-size: 14px;
    margin-top: 5px;
  }
  .testimonial-container .right-container {
    width: 40%;
    height: 400px;
    
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* ///////////////////////// */
  @media (max-width: 900px) {
    .testimonial-container {
      flex-direction: column-reverse;
    }
    .testimonial-container .left-container,
    .testimonial-container .right-container {
      width: 100%;
    }
    .testimonial-container .right-container {
      height: 200px;
      margin-bottom: 10px;
    }
    .testimonial-container .left-container .review {
      font-size: 16px;
    }
    .testimonial-container .left-container .designation {
      font-size: 12px;
    }
  }