
.values-flip-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 4 cards per row */
    gap: 20px; /* space between cards */

    justify-items: center; 
  }
  
.values-flip-card {
    width: 100%;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;

  }
  .values-flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;

  }
  .values-flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .values-flip-card .flip-card-front,
  .values-flip-card .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: var(--default-box-shadow);
  }
  /* Front Side */
  .values-flip-card .flip-card-front {
    background: var(--gradient-one);
    color: white;
  }
  /* Back Side */
  .values-flip-card .flip-card-back {
    background-color: var(--headings-color);
    color: black;
    transform: rotateY(180deg);
  }
  /* Icon styling */
  .values-flip-card .card-icon {
    font-size: 50px;
  }
  /* Ordered List Styling */
  .values-flip-card .card-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }