.why-choose-us {
    width: 100%;
    display: flex;
gap: 10px;
align-items: center;
  }
  .why-choose-us .left-container {
    width: 50%;

    height: fit-content;
  }
  .why-choose-us .left-container .left-text{
  
    width: 100%;
  }
  .why-choose-us .left-container .left-text h1 {
    color: var(--headings-color);
    margin-bottom: 10px;
   
  }
  .why-choose-us .left-container .left-text p {
    font-size: var(--default-p-size);
    color: var(--text-color);
    margin-bottom: 20px;
  }
  .why-choose-us .right-container {
    width: 50%;
    height: 300px;
    display: flex;
    gap: 10px;
  }
  .why-choose-us .right-container .left-images {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .why-choose-us .right-container .left-images .top-row {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
  }
  .why-choose-us .right-container .left-images .top-row .left {
    width: 50%;
    height: 100%;
    background-image: url(/image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .why-choose-us .right-container .left-images .top-row .right {
    width: 50%;
    height: 100%;
    background-image: url(/image3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .why-choose-us .right-container .left-images .bottom-row {
    width: 100%;
    height: 50%;
    background-image: url(/image4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .why-choose-us .right-container .right-image {
    width: 40%;
    height: 100%;
    background-image: url(/image5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  @media (max-width: 900px) {
    .why-choose-us {
      width: 100%;
      flex-direction: column-reverse;
    }
    .why-choose-us .right-container {
      width: 100%;
     
      margin-bottom: 10px;
    }
    .why-choose-us .right-container .right-image {
      display: none;
    }
    .why-choose-us .left-container {
      width: 100%;
      height: fit-content;
    }
    .why-choose-us .right-container .left-images {
      width: 100%;
    }
    .why-choose-us .right-container .left-images .top-row .left {
      width: 50%;
      height: 100%;
    }
    .why-choose-us .right-container .left-images .top-row .right {
      width: 50%;
      height: 100%;
    }
    .why-choose-us .right-container .left-images .bottom-row {
      width: 100%;
    }
  }