.why-us {
  display: flex;
  margin-bottom: 20px;
}
.why-us .left {
  text-align: left;
  width: 50%;
}
.why-us .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.why-us .left p {
  margin-bottom: 20px;
  font-size: var(--default-p-size);
}
.why-us .right img {
  height: 270px;
}


@media (max-width: 900px) {
  .why-us {
    flex-direction: column;
  }
  .why-us .left {
    text-align: left;
    width: 100%;
  }
  .why-us .right {
    width: 100%;
  }
  .why-us .right img {
    height: 170px;
  }
 
}
